.home {
  display: flex;
  padding: 0 100px;
  .menu {
    padding: 10px 0px;
    box-sizing: border-box;
    // background: lightblue;
    height: calc(100vh - 90px);
    overflow-y: auto;
  }
  // .ant-menu {
  //   max-height: ;
  // }
}
